body {
	background-color: skyblue;
}

div{
	display: block;
	
}
#words{
	position: fixed;
	top: 10%;
	Left: 10%;
	height: 20%;
	width: 50%;
	font-size: 81px;
	color: white;
	font-weight: bold;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#sun{
	position: fixed;
	top: 5%;
	right: 5%;
	height: 20%;
	width: 15%;
}
#grass{
	position: fixed;
	bottom: 0%;
	left: 0%;
	height: 20%;
	width: 100%;
	background-color: green;
	margin: 0%;
	padding: 0%;
}

#dog{
	position: fixed;
	bottom: 20%;
	left: 10%;
	height: 16%;
	width: 8%;
}

#tree{
	position: fixed;
	bottom: 19%;
	right: 10%;
	height: 45%;
	width: 20%;
}